*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1rem is. 16*62.5% = 10px. 1 rem = 10px
    font-size: 62.5%; /*root font size is 16, this brings default size down to 10px*/
}

body {
    box-sizing: border-box;
}